<section>
<div id="backk">
<div id="frontt">
	<div class="row" id="container-pro">

		<div class="opacos">
			<div class="col-sm-12 col-md-12">

				<div class="col-md-6 col-md-offset-3">
			<div class="text-center en_medio animated bounceInDown">
				<h1><strong>¡Comparte tu idea!</strong></h1>
				<h3 class="textt">
					Esta plataforma es para elaborar y compartir proyectos creativos y constituir con ellos el Plan Estatal de Desarrollo 2016-2022
				</h3>
			</div><!-- text-center -->
				</div>
				<br><br>

			<div class="container" id="">
			<div class="">
				<div class="col-md-10 col-md-offset-1">
				<form role="form" ng-submit="$ctrl.addProject()" class="animated fadeInRight">


					<div class="form-group">

						<div class="col-md-6">
							<label><h4 class="textt">¿Cual es tu gran idea?</h4></label>
							<br>
							<input ng-model="$ctrl.title" maxlength="50" ng-trim="false" required type="text" class="form-control input-lg" id="tituloProyecto" placeholder="Esta es mi gran idea" autofocus ng-model="project.titulo"></input>
							<small class="textt">{{50-$ctrl.title.length}} caracteres máximo</small>
							<br>
							<br>
						</div>


						<div class="col-md-6">
							<label><h4 class="textt">¿Que problematica resuelve?</h4></label>
							<br>
							<input ng-model="$ctrl.prob" maxlength="50" ng-trim="false" required type="text" class="form-control input-lg" id="tituloProyecto" placeholder="Problematica" autofocus ng-model="project.titulo"></input>
						</div>





						<div class="row">
						  </div>


				<div class="col-md-6">
					<label><h4 class="textt">¿A que eje pertenece tu proyecto?</h4></label>
				<select required ng-model="$ctrl.eje" class="form-control input-lg">

					<option value="">Selecciona un Eje</option>
					<option value="Gobierno Honesto, Cercano y Moderno">Gobierno Honesto, Cercano y Moderno</option>
					<option value="Hidalgo Próspero y Dinámico">Hidalgo Próspero y Dinámico</option>
					<option value="Hidalgo Humano e Igualitario">Hidalgo Humano e Igualitario</option>
					<option value="Un Hidalgo Seguro con Justicia y en Paz">Un Hidalgo Seguro con Justicia y en Paz</option>
					<option value="Un Hidalgo Con Desarrollo Sustentable">Un Hidalgo Con Desarrollo Sustentable</option>
				</select>
				</div>

						<div class="col-md-6">
								<label>
										<h4 class="textt">¿En qué municipio vives?</h4>
								</label>
								<select ng-model="$ctrl.mun" required class="form-control input-lg">
										<option value="">Selecciona un Municipio</option>
										<option value="Acatlán">Acatlán</option>
										<option value="Acaxochitlán">Acaxochitlán</option>
										<option value="Actopan">Actopan</option>
										<option value="Agua Blanca de Iturbide">Agua Blanca de Iturbide</option>
										<option value="Ajacuba">Ajacuba</option>
										<option value="Alfajayucan">Alfajayucan</option>
										<option value="Almoloya">Almoloya</option>
										<option value="Apan">Apan</option>
										<option value="Atitalaquia">Atitalaquia</option>
										<option value="Atlapexco">Atlapexco</option>
										<option value="Atotonilco de Tula">Atotonilco de Tula</option>
										<option value="Atotonilco el Grande">Atotonilco el Grande</option>
										<option value="Calnali">Calnali</option>
										<option value="Cardonal">Cardonal</option>
										<option value="Chapantongo">Chapantongo</option>
										<option value="Chapulhuacán">Chapulhuacán</option>
										<option value="Chilcuautla">Chilcuautla</option>
										<option value="Cuautepec de Hinojosa">Cuautepec de Hinojosa</option>
										<option value="El Arenal">El Arenal</option>
										<option value="Eloxochitlán">Eloxochitlán</option>
										<option value="Emiliano Zapata">Emiliano Zapata</option>
										<option value="Epazoyucan">Epazoyucan</option>
										<option value="Francisco I. Madero">Francisco I. Madero</option>
										<option value="Huasca de Ocampo">Huasca de Ocampo</option>
										<option value="Huautla">Huautla</option>
										<option value="Huazalingo">Huazalingo</option>
										<option value="Huehuetla">Huehuetla</option>
										<option value="Huejutla de Reyes">Huejutla de Reyes</option>
										<option value="Huichapan">Huichapan</option>
										<option value="Ixmiquilpan">Ixmiquilpan</option>
										<option value="Jacala de Ledezma">Jacala de Ledezma</option>
										<option value="Jaltocán">Jaltocán</option>
										<option value="Juárez Hidalgo">Juárez Hidalgo</option>
										<option value="La Misión">La Misión</option>
										<option value="Lolotla">Lolotla</option>
										<option value="Metepec">Metepec</option>
										<option value="Metztitlán">Metztitlán</option>
										<option value="Mineral de la Reforma">Mineral de la Reforma</option>
										<option value="Mineral del Chico">Mineral del Chico</option>
										<option value="Mineral del Monte">Mineral del Monte</option>
										<option value="Mixquiahuala de Juárez">Mixquiahuala de Juárez</option>
										<option value="Molango de Escamilla">Molango de Escamilla</option>
										<option value="Nicolás Flores">Nicolás Flores</option>
										<option value="Nopala de Villagrán">Nopala de Villagrán</option>
										<option value="Omitlán de Juárez">Omitlán de Juárez</option>
										<option value="Pachuca de Soto">Pachuca de Soto</option>
										<option value="Pacula">Pacula</option>
										<option value="Pisaflores">Pisaflores</option>
										<option value="Progreso de Obregón">Progreso de Obregón</option>
										<option value="San Agustín Metzquititlán">San Agustín Metzquititlán</option>
										<option value="San Agustín Tlaxiaca">San Agustín Tlaxiaca</option>
										<option value="San Bartolo Tutotepec">San Bartolo Tutotepec</option>
										<option value="San Felipe Orizatlán">San Felipe Orizatlán</option>
										<option value="San Salvador">San Salvador</option>
										<option value="Santiago de Anaya">Santiago de Anaya</option>
										<option value="Santiago Tulantepec de Lugo Guerrero">Santiago Tulantepec de Lugo Guerrero</option>
										<option value="Singuilucan">Singuilucan</option>
										<option value="Tasquillo">Tasquillo</option>
										<option value="Tecozautla">Tecozautla</option>
										<option value="Tenango de Doria">Tenango de Doria</option>
										<option value="Tepeapulco">Tepeapulco</option>
										<option value="Tepehuacán de Guerrero">Tepehuacán de Guerrero</option>
										<option value="Tepeji del Río de Ocampo">Tepeji del Río de Ocampo</option>
										<option value="Tepetitlán">Tepetitlán</option>
										<option value="Tetepango">Tetepango</option>
										<option value="Tezontepec de Aldama">Tezontepec de Aldama</option>
										<option value="Tianguistengo">Tianguistengo</option>
										<option value="Tizayuca">Tizayuca</option>
										<option value="Tlahuelilpan">Tlahuelilpan</option>
										<option value="Tlahuiltepa">Tlahuiltepa</option>
										<option value="Tlanalapa">Tlanalapa</option>
										<option value="Tlanchinol">Tlanchinol</option>
										<option value="Tlaxcoapan">Tlaxcoapan</option>
										<option value="Tolcayuca">Tolcayuca</option>
										<option value="Tula de Allende">Tula de Allende</option>
										<option value="Tulancingo de Bravo">Tulancingo de Bravo</option>
										<option value="Villa de Tezontepec">Villa de Tezontepec</option>
										<option value="Xochiatipan">Xochiatipan</option>
										<option value="Xochicoatlán">Xochicoatlán</option>
										<option value="Yahualica">Yahualica</option>
										<option value="Zacualtipán de Ángeles">Zacualtipán de Ángeles</option>
										<option value="Zapotlán de Juárez">Zapotlán de Juárez</option>
										<option value="Zempoala">Zempoala</option>
										<option value="Zimapán">Zimapán</option>

								</select>
								<br>

						</div>

					</div>

				<br><br><br><br><br>
				<div align="center">
									<input type="Submit" class="btn btn-primary btn-lg" value="Sube tu Proyecto">

									<br>
									<br>
				</div>
									<!--<div align="center" class="g-recaptcha" data-sitekey="6LcsCAkUAAAAAKgM9QH_wHM0Ku2MWSdQt2pAvXQp"></div>-->
					</div> <!-- div form-group -->

				</form> <!-- form -->
				</div>
			</div>
			</div> <!-- div col-sm-12 -->
		</div>
		</div> <!--opcaco-->

	</div> <!--container pro-->
</div>
</div>
</section>








<!-- el modal -->

<div class="modal fade" id="badge" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">¡Felicitaciones!</h4>
      </div>
      <div style="text-align:center;" class="modal-body">
      <!-- Share-->






      <!-- Share-->


        <img style="width:200px" src="/assets/images/logoGrande.jpg">
        <div style="color:blue">
            <h2 style="color:green" >¡Gracias!</h2>
            <h3 style="color:red">Tu idea ya está considerada para</h3>
            <h3 style="color:green">El Plan de Desarrollo Estatal</h3>
        </div>
        <h4>Compartelo en tus redes sociales</h4>

        <button id="share_button" class="btn btn-primary">
            <i class="fa fa-facebook-square" aria-hidden="true"></i>
            Facebook
        </button>

		<script type="text/javascript" async src="https://platform.twitter.com/widgets.js"></script>
		<a href="https://twitter.com/intent/tweet?text=Yo ya participé, mi idea ya esta considerada para el plan de desarrollo, ahora hazlo tú. &url=http://planeacion.fixter.org">
			<button class="btn btn-info">
	            <i class="fa fa-twitter" aria-hidden="true"></i>
	            Twitter
	        </button>
	    </a>



        <h5>Ahora completa los detalles de tu proyecto:</h5>
        <button data-dismiss="modal" class="btn btn-default">
            Continuar
        </button>



      </div>
