<section id="slider">
        <ul class="slides">
            <li class="slide" style="background-image:url('/assets/images/landing/entrale_1.png');">
                <!-- <div class=" textos zoomInDown slider-text"> -->
                <div class="active">
                    <!-- <p>¡Éntrale y apuéstale!</p> -->
                    <p class="texto">¡Éntrale!</p>
                    <p class="texto2">¡apuéstale!</p>
                    <p class="texto3">¡Éntrale y apuéstale!</p>
                   <!--  <button class="btn btn-lg btn_landing btn_rojo"><a href="#/project/new">Subir Proyecto</a></button> -->
                </div>
            </li>
            <li class="slide" style="background-image:url('/assets/images/landing/expresate.png');">
                <div class=" textos zoomInDown slider-text">
                    <p>¡Exprésate!</p>
                    <button class="btn btn-lg btn_landing btn_verde"><a href="#/project/new">Subir Proyecto</a></button>
                </div>
            </li>
            <li class="slide" style="background-image:url('/assets/images/landing/incluyete.png');">
                <div class=" textos zoomInDown slider-text">
                    <p>Incluyete a la solución</p>
                    <button class="btn btn-lg btn_landing btn_rojo"><a href="#/project/new">Subir Proyecto</a></button>
                </div>
            </li>
            <li class="slide" style="background-image:url('/assets/images/landing/transformemos.png');">
                <div class=" textos zoomInDown slider-text">
                    <p>Transformemos</p>
                    <button class="btn btn-lg btn_landing btn_verde"><a href="#/project/new">Subir Proyecto</a></button>
                </div>
            </li>
            <li class="slide" style="background-image:url('/assets/images/landing/formemos.png');">
                <div class="textos animated zoomInUp slider-text">
					<p>Formemos el Hidalgo que queremos ver</p>
				</div>
				<div class="animated zoomIn slider-img">
					<img style='height:120px' src="/assets/images/landing/logohg.png">
				</div>
            </li>
			<li class="slide" style="background-image:url('/assets/images/landing/entrale_1.png');">
                <div class=" textos zoomInDown slider-text">
                    <p>¡Éntrale y apuéstale!</p>
                    <button class="btn btn-lg btn_landing btn_rojo"><a href="#/project/new">Subir Proyecto</a></button>
                </div>
            </li>
        </ul>
</section>


 <div class="container-fluid l-format" style="background-color:#092432;color:#fff;">
 	<div class="container l-bienvenida">	


		 	<div class="row">


				 	<br>
				 	<br>
		 		<div class="col-md-12">

		 				<h1 class="l-titulo" align="center">Gobierno del Estado de Hidalgo</h1> 
		 				<hr class="color-hr">		

		 	

		 		</div>
		 		
		 		<div class=" col-sm-12 col-md-6 l-articulo">
		 					<div id='mensaje'>
		 						<h2 class="l-negro text-center">A todos los hidalguenses</h2>
				
			 					<br>
					 			<p style='font-family: gobierno, tahoma, sans-serif;' class="text-justify">
									 Hoy tenemos la oportunidad de  trazar juntos el rumbo que tomará Hidalgo en los próximos 25 años y de avanzar hacia el futuro  que queremos, ayúdame a lograrlo, Hidalgo necesita tus propuestas. ¡Participa!
								</p>
								</div>
			 		
		 		</div>
		 		<div class="col-md-6 col-sm-12 text-center lvideo">
		 		<br>
		 			<iframe width="100%" height="450" src="https://www.youtube.com/embed/d4Yz7AXWN6U?autoplay=1" frameborder="0" allowfullscreen></iframe>
		 		</div>
		 	</div>



 	</div>
 	
 	
 	 	
 </div> <!-- end container -->



<div class="">
	<h1 class="l-titulo" align="center">Ejes</h1> 
				 				<hr class="color-hr">
</div>

<div class="container-fluid l-ejes l-format">


		<div class="container wall">
 	
					<!--<div class="ejes row  titEjes">	-->

						 <div class="iconito col-md-4 col-sm-6 col-xs-12">
						 <div style='text-align: center' >
							 <a href="#/catalogo"><img class="image img-responsive" src="/assets/images/landing/logo0.png"></a></div>
							 <div class='textito'>
							 	Todos los Proyectos
							 </div>	
				 		</div>		 	

						 <div class="iconito col-md-4 col-sm-6 col-xs-12 ">
							 <a href="#/catalogo"><img  class="image img-responsive" src="/assets/images/landing/logo1.png"></a> 
							  <div class='textito'>
							 	Gobierno Honesto, Cercano y Moderno
							 </div>	
				 		</div>

				 		<div class="iconito col-md-4  col-sm-6 col-xs-12 ">
							<a href="#/catalogo"><img class="image img-responsive" src="/assets/images/landing/logo2.png"></a>
							 <div class='textito'>
							 	Hidalgo Próspero y Dinámico
							 </div>

				 		</div>
				 		<!--</div>-->
				 		<!--<div class="row  titEjes">	-->

				 		<div class="iconito col-md-4 col-sm-6  col-xs-12 ">
						 	<a href="#/catalogo"><img class="image img-responsive" src="/assets/images/landing/logo3.png"></a>	
						 	<div class='textito'>
							 	Hidalgo Humano e Igualitario
							 </div>
				 		</div>

				 		<div class="iconito col-md-4 col-sm-6 col-xs-12 ">
							<a href="#/catalogo"><img class="image img-responsive" src="/assets/images/landing/logo4.png"></a>
							<div class='textito'>
							Un Hidalgo Seguro con Justicia y en Paz
							</div>
				 		</div>

				 		<div class="iconito col-md-4 col-sm-6 col-xs-12 ">
						 	<a href="#/catalogo"><img class="image img-responsive" src="/assets/images/landing/logo5.png"></a>
						 	<div class='textito'>
							 	Un Hidalgo con Desarrollo Sustentable
							 </div>
				 		</div>

				 	

				 	<!--</div>   end row-->




 	</div> <!-- end container -->
	

	
</div> <!-- end container fluid -->



 <div class="container">
 		<div class="row">
 			<div class="col-md-12 text-center">
		 			<br>
		 			<br>
		 			<br>
         			 <h1 class="l-titulo" align="center">Pasos para publicar tu idea</h1> 
 						<hr class="color-hr">
		 	</div>		

		</div>
 </div>



<div class="container-fluid iconosLanding">


		<div class="container">
 	
	<div class="row text-center ">		 	

		 <div class="col-md-4 hov-c">
		 	<span class="fa-stack fa-4x ">
		 		
		 		
		 		<i class="fa fa-upload fa-stack-1x i-color "></i>
		 	</span>
 			<!-- <i class="icono fa fa-4x fa-upload"></i> -->
 			<h4>1.- Nombra tu proyecto</h4>
 			<p>Piensa en un nombre que sea original, facil de recordar y que refleje la funcionalidad de tu proyecto</p>
 		</div>

 		<div class="col-md-4 hov-c">
		 	<span class="fa-stack fa-4x">
		 		
		 		
		 		<i class="fa fa-user fa-stack-1x i-color"></i>
		 	</span>
 			<!-- <i class="icono fa fa-4x fa-upload"></i> -->
 			<h4>2.- Inicia Sesión</h4>
 			<p>Puedes usar alguna de las redes sociales de tu preferencia o simplemete ingresar un correo electronico y una contrasena persdonalizada.</p>
 		</div>

 		<div class="col-md-4 hov-c">
		 	<span class="fa-stack fa-4x ">
		 		
		 		
		 		<i class="fa fa-file-text-o fa-stack-1x i-color"></i>
		 	</span>
 			<!-- <i class="icono fa fa-4x fa-upload"></i> -->
 			<h4>3.- Complementa tu perfil</h4>
 			<p>Es importante que proporciones todos los datos que se te piden ya que toda la informacion que subas a la plataforma sera validada.</p>
 		</div>

 		<div class="col-md-4 col-md-offset-2 hov-c">
		 	<span class="fa-stack fa-4x">
		 		
		 		
		 		<i class="fa fa-user-md fa-stack-1x i-color"></i>
		 	</span>
 			<!-- <i class="icono fa fa-4x fa-upload"></i> -->
 			<h4>4.- Envía tu proyecto</h4>
 			<p>Tu proyecto podrá formar parte del plan estatal de desarrollo 2016-2022</p>
 		</div>
 		<div class="col-md-4 hov-c">
		 	<span class="fa-stack fa-4x">
		 		
		 		
		 		<i class="fa fa-bookmark fa-stack-1x i-color"></i>
		 	</span>
 			<!-- <i class="icono fa fa-4x fa-upload"></i> -->
 			<h4>5.- Obten tu constancia de participacion</h4>
 			<p>Descargala y compartela, te servira para dar respaldo y validacion de tu participacion. </p>
 		</div>

 	

 	</div>  <!-- end row-->




 </div> <!-- end container -->
	

		<div class="row">
	 		<div class="col-md-12 text-center parallax-project"> 			
		
				<h2>Comparte tu idea <a href="#/project/new" class="btn-r ">Publica tu proyecto</a>
				</h2>

	 		</div>
	 	</div>
</div> <!-- end container fluid -->
 

 <div class="container-fluid">
 	
 	
 </div>

<div class="container-fluid bg-memorias">


		<div class="container">
		 	
		 	<div class="row">
		  <br>
		  <br>
		 		<div class="col-md-6 col-md-offset-3 text-center ">

		 			<h4 class="memorias">&#8220; Hidalgo crece contigo&#8221;</h4>
		 			<img class="img-circle" width="60px" src="/assets/images/gobernador.jpeg">
		 			<span>Omar Fayad Meneses</span>
		 			
		 			
		<br>
		<br>
		<br>
		 		</div>
		 	</div>
		 </div>
	


</div>

  
  


<script type="text/javascript">
	
// 	$('.carousel').carousel({
//   interval: 10000,
//   pause: null
// });




$('.image').mouseover(function(){


	$(this).addClass('animated rubberBand');

	var self = this;

setTimeout(function(){

	$(self).removeClass('pulse');
	$(self).removeClass('rubberBand');

},1000)
	


});
</script>

</div>

