<footer class="footer">
	<div class="row footer_container" style="margin-right:0;">


		<div class="col-xs-12 col-sm-12 col-md-4">
			<div class="logo col-sm-offset-1 col-xs-offset-1">
				<img class="logo" src="assets/images/logo_hidalgo.png">

			</div>
		</div>

		<div class="col-sm-12 col-xs-12 col-md-4">
				<div class="redes">

					<a href="https://www.facebook.com/gobhidalgo/">
						<i class="fa fa-facebook-square" aria-hidden="true">
						</i>

					</a>
					<a href="https://www.youtube.com/user/CCSOCIALGOBHGO">
						<i class="fa fa-youtube-play" aria-hidden="true">
						</i>

					</a>
					<a href="https://twitter.com/gobiernohidalgo">
						<i class="fa fa-twitter" aria-hidden="true">
						</i>
					</a>
					<br>
					<a href="mailto:contactoped@hidalgo.gob.mx">
						contactoped@hidalgo.gob.mx
					</a>
					<br>
					<br>
					<br>
				</div>
		</div>


		<div class="col-xs-12 col-sm-12 col-md-4">
			<center>
				<img src="assets/images/footer_escudo.png">
			</center>
			<p class="col-sm-12">Plaza Júarez s/n Col. Centro
				Pachuca de Soto, Hidalgo, México
				(771) 717-6000
				webhgo@hidalgo.gob.mx</p>
			
		</div>
		
	</div> <!--container-->
	
</footer>