
<div style="text-align:center" ng-show="$ctrl.timeInMs" class="alert alert-success" role="alert">
        {{$ctrl.alert}} seras redireccionado en: {{$ctrl.timeInMs}}
    </div>

<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
<!-- <div id="wrapper"> -->

<div class="container">

    <div class="omb_login">
        <h3 class="omb_authTitle">Ingresa con tus redes sociales y publica tu Idea o Proyecto</h3>
        <div class="row omb_row-sm-offset-3 omb_socialButtons">
            <div class="col-xs-6 col-sm-3">
                <a ng-click="$ctrl.signIn('facebook')" class="btn btn-lg btn-block omb_btn-facebook">
                    <i class="fa fa-facebook visible-xs"></i>
                    <span class="hidden-xs">Facebook</span>
                </a>
            </div>

            <div class="col-xs-6 col-sm-3">
                <a ng-click="$ctrl.signIn('google')" class="btn btn-lg btn-block omb_btn-google" >
                    <i class="fa fa-google-plus visible-xs"></i>
                    <span class="hidden-xs">Google+</span>
                </a>
            </div>


        </div>

        <div class="row omb_row-sm-offset-3 omb_loginOr">
            <div class="col-xs-12 col-sm-6">
                <hr class="omb_hrOr">
                <span class="omb_spanOr">O</span>
            </div>
        </div>

        <div class="row omb_row-sm-offset-3">
            <div class="col-xs-12 col-sm-6">
                <form ng-submit="$ctrl.signIn()" class="omb_loginForm"  autocomplete="on">
                    <div class="input-group">
                        <span class="input-group-addon">

                            <i class="fa fa-user" style="color:black"></i>
                        </span>
                        <input ng-model="$ctrl.email" required type="email" class="form-control" name="username" placeholder="@Correo electronico">
                    </div>
                    <span class="help-block"></span>

                    <div class="input-group">
                        <span class="input-group-addon">

                            <i class="fa fa-lock" style="color:black"></i>
                        </span>
                        <input ng-model="$ctrl.password" required type="password" class="form-control" name="password" placeholder="Contraseña">
                    </div>
                    <!-- <span class="help-block">Error</span> -->
                    <br>
                    <input class="btn btn-lg btn-primary btn-block" type="submit" value="Entrar">
                </form>
            </div>
        </div>
        <div class="row omb_row-sm-offset-3">
            <div class="col-xs-12 col-sm-3">
                <label class="checkbox">
                    <input type="checkbox" value="remember-me">Recordar mi usuario
                </label>
            </div>
            <div class="col-xs-12 col-sm-3">
                <p class="omb_forgotPwd">
                    <a href="">Olvidaste tu contraseña?</a>
                </p>
            </div>
        </div>

    </div>
</div>

