/*Animaciones a manita by BlisS*/
@keyframes agrandar{
  0%{
    transform:scale(0);
    opacity: 0;
    transform:scale3d(10px,100px,50px);
  }
  20%{
    transform:scale(3);
    opacity: 1;
  }
  80%{
    transform:scale(4);
    opacity: 1;
  }
  100%{
    transform:scale(10);
    opacity: 0;
  }
}
.active{
  position: relative;
  height: 100%;
  overflow: hidden;
  color: white;
}

.active .texto{
  animation:agrandar 5s ease infinite;
  transform-origin:center center;

  position: absolute;
  top:20%;
  left:20%;
  opacity: 0;
}

.active .texto2{
  animation:agrandar 3s 2s ease-in infinite;
  transform-origin:center center;

  position: absolute;
  top:20%;
  right:20%;
  opacity: 0;
}


.active .texto3{
  animation:agrandar 3s 1s ease-in-out infinite;
  transform-origin:top bottom;

  position: absolute;
  bottom:20%;
  left:50%;
  opacity: 0;
}
/*Animaciones a manita by BlisS*/




#owl-demo .item img{
    display: block;
    width: 100vw;
    height: 100vh;
}

.slider{
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  text-align: center;
}
.slider-text{
padding-top: 20%;
font-size: 4rem;
color:white;
}

.slider-text {
  animation-duration: 5s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
}


.iconosLanding{

  background-color: #092432;

}
.iconosLanding h4, .iconosLanding h3 {
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif !important;
  font-weight: 900;
  color:#fff;
}
.iconosLanding p{

  color:#fff;
}
.i-color{

  color :#fff;
}
.b-i-color{

  color:#fff;
  
}

.hov-c:hover  i.i-color, .hov-c:active  i.i-color, .hov-c:focus  i.i-color{

    transition: 1s ease;
    font-size: 1.5em;
}

.l-titulo{

  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif !important;
  font-weight: 900;


}
.l-titulo-trans{
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 900;
  
  color: rgba(255, 255, 255, 0.7);
}

hr.color-hr{

  border-color: #EF4035;
}
hr.color-hr-r{

border-color:#bc1826;

}

hr.color-hr-v{

  border-color:#00703e;

}

hr.color-hr{
      max-width: 300px;
    border-top: 3px solid #EF4035;
    
    margin: 15px auto;
}

hr.color-hr-v{
      max-width: 300px;
    border-top: 3px solid rgba(255, 255, 255, 0.7);;
    
    margin: 15px auto;
}

hr.color-hr-r{
      max-width: 300px;
    border-top: 3px solid rgba(255, 255, 255, 0.7);;
    
    margin: 15px auto;
}


@media (min-width: 768px) {

  hr.color-hr, hr.color-hr-r, hr.color-hr-v {
    max-width: 300px;
    margin: 20px auto;
}


  }





/*
Fade content bs-carousel with hero headers
Code snippet by maridlcrmn (Follow me on Twitter @maridlcrmn) for Bootsnipp.com
Image credits: unsplash.com
*/

/********************************/
/*       Fade Bs-carousel       */
/********************************/
.fade-carousel {
    position: relative;
    height: 100vh;
}
.fade-carousel .carousel-inner .item {
    height: 100vh;
}
.fade-carousel .carousel-indicators > li {
    margin: 0 2px;
    background-color: #f39c12;
    border-color: #f39c12;
    opacity: .7;
}
.fade-carousel .carousel-indicators > li.active {
  width: 10px;
  height: 10px;
  opacity: 1;
}

		/********************************/
/*          Hero Headers        */
/********************************/
.hero {
    position: absolute;
    top: 45%;
    left: 50%;
    z-index: 1000;
    color: rgba(255,255,255,0.8);
    text-align: center;
  
    text-shadow: 1px 1px 0 rgba(0,0,0,.75);
      -webkit-transform: translate3d(-50%,-50%,0);
         -moz-transform: translate3d(-50%,-50%,0);
          -ms-transform: translate3d(-50%,-50%,0);
           -o-transform: translate3d(-50%,-50%,0);
              transform: translate3d(-50%,-50%,0);
}
.hero h3{
  color: rgba(255,255,255,0.8);
}
.hero h1 {
   font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif!important;
  font-weight: 900;
    font-size: 5em;
  
    margin: 0;
    padding: 0;
}

.fade-carousel .carousel-inner .item .hero {
    opacity: 0;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s;
        -ms-transition: 2s all ease-in-out .1s;
         -o-transition: 2s all ease-in-out .1s;
            transition: 2s all ease-in-out .1s;
}
.fade-carousel .carousel-inner .item.active .hero {
    opacity: 1;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s;
        -ms-transition: 2s all ease-in-out .1s;
         -o-transition: 2s all ease-in-out .1s;
            transition: 2s all ease-in-out .1s;
}



/********************************/
/*            Overlay           */
/********************************/
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #080d15;
    opacity: .4;
}

/********************************/
/*          Custom Buttons      */
/********************************/
.btn.btn-lg {padding: 10px 40px;}
.btn.btn-hero,
.btn.btn-hero:hover,
.btn.btn-hero:focus {
    color: #f5f5f5;
    background-color: #1abc9c;
    border-color: #1abc9c;
    outline: none;
    margin: 20px auto;
}

/********************************/
/*       Slides backgrounds     */
/********************************/
.fade-carousel .slides .slide-1,
.fade-carousel .slides .slide-2,
.fade-carousel .slides .slide-3,
.fade-carousel .slides .slide-4,
.fade-carousel .slides .slide-5 {
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.fade-carousel .slides .slide-1 {
  background-image: url('/assets/images/background_oficial.png');
}
.fade-carousel .slides .slide-2 {
  background-image: url('/assets/images/slider/DJI_0005.JPG');
}
.fade-carousel .slides .slide-3 {
  background-image: url('/assets/images/slider/DJI_0007.JPG');
}
.fade-carousel .slides .slide-4 {
  background-image: url('/assets/images/slider/DJI_0007.JPG');
}
.fade-carousel .slides .slide-5 {
  background-image: url('/assets/images/slider/gobernador.jpeg');

}

/********************************/
/*          Media Queries       */
/********************************/
@media screen and (min-width: 980px){
    .hero { width: 980px; }
}
@media screen and (max-width: 640px){
    .hero h1 { font-size: 2.5em; }
}





/* Styles llamada a la accion slider landing page */
.portada{
	width:100%;
	height:100vh;
	background:url('http://image.posta.com.mx/sites/default/files/germen-1_0.jpg') center;
	background-size:cover;

}

@media(max-width: 980px){
  .portada{
    height:400px;
  }

    .hero h1 {
 
      font-size: 3em;
    
     
  }
}
@media(max-width: 600px){
	.portada{
		height:400px;
	}

    .hero h1 {
 
      font-size: 3em;
    
     
  }
  .textito{
    font-size:10px;
  }
}



.greenBox{
	height: 100%;
	margin-top: 12%;
	padding-bottom: 12px;
	background-color: rgba(0,0,0,0.6);
	color:white;
}
/*div.greenBox h3{

	color:#fdf;
}
div.greenBox p{

	text-align: justify;
	color:#fdf;
}*/
.greenBox  .btnSliderRojo{

	background-color: #E73C4E !important;
	color: white !important;
}


.carousel-container {
    margin-left:0;
}

.parallax-project{

	width:100%;
	height: 250px;
	background: url("/assets/images/parallax.jpg") center 360px;
	background-size: cover;
	color:#fff;
	vertical-align: middle;
	font-weight: 900;

}
.parallax-project h2{

	padding-top: 100px;

}


/*Categorias*/

.categoria{
	background-image: url('/assets/images/go.jpg');
	background-size: cover;
	/*width: 200px;*/
	height: 250px;
	/*margin: 0;*/
	position: relative;
	cursor: pointer;
	border:10px solid white;
	transition:all 0.3s ease;
	overflow: hidden;
}
.categoria:hover{
	/*transform: scaleX(1.1);*/
	transform: scaleY(1.1);
}

.opaco{
	width: 100%;
	height: 100%;
	background:rgba(0,0,0,0.5);
	position: absolute;
	left:0;
	transition:all 0.5s ease;
	text-align: center;
}
.opaco:hover{
	/*background-color: transparent;*/
	background:rgba(255,255,255,0.7);
}
.opaco i{
	margin-top: 80px;
	padding-bottom: 10px;
	border-bottom: 1px solid white;
	font-size: 6rem;

}
.opaco p, i{
  color: rgba(255, 255, 255, 0.7);
	transition:all 0.5s ease;
}
.opaco:hover > p{
	color:black;
}
.opaco:hover > i{
	color:black;
	border-bottom: 1px solid black;
}
.mosaico{
	margin-top: 10px;
	text-align: center;
}

.slides a{

	color: #fff !important;
	border:#fff solid 0px !important;
}
.icono{
  color: black;
}

.l-negro{

  color: #000;
}

.img-fill img{

  width: 350px;

  overflow-x: hidden;
}

.btn-r{
  font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif; 

  border: none;
    border-radius: 300px;
    font-weight: 700;

    
}
.btn-r:hover{
    text-decoration: none;
}
.btn-verdebandera {
    color: #00703e;
    background-color: #00703e;
    border-color: #71b631;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.btn-verdebandera:hover {
    color: #00703e;
    background-color: #71b631;
   
}
.btn-rojoobsuro {
    color: #00703e;
    background-color: #bc1826;
    border-color: #bc1826;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.btn-rojoobsuro:hover{
    color: #00703e;
    background-color: #e73c4e;
    
}
.memorias{

 font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif !important;
  color:#111 !important;
  font-style: italic;
   font-weight: 700;
}
.bg-memorias{


  
  background-color: #efefef;

}

.l-format{


  margin-bottom: 70px;
}

.l-articulo{
  padding-top:60px;
}

span.l-icon-ej{

  margin-bottom:40px;
}
.l-icon-ej p {

  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif !important;
     font-weight: 900 !important;
}
.l-ejes h4{

  color:#111 ;
 

}

.e-i-color{

  color: #bc1826;
}
.l-bienvenida{
  color:#fff;
  margin-bottom: 120px;
}
.l-bienvenida h2{
  color:#fff;
}

.titEjes p, .titEjes h3 {
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif !important;
  font-weight: 900;
  color:#333;
  font-size: 1.3em;
  display:flex;
}

.l-icon-ej a {

  cursor: pointer;
}

.iconito{
  padding-left:5%;
  padding-top:5%;
  text-align:center;
 font-size:15px;


}
.image{
  width:80%;
  margin-left:10%;
}
.centrando{
  text-align:center;
}
.textito{
  font-size:18px;
  font-family: 'Montserrat Alternates', sans-serif;
  min-height: 50px;
}
#mensaje{
  margin-top:20%;
}

.textos{
  font-family: 'Comfortaa', cursive;
  text-align: center;
}
.btn_landing a{
  color: white ;
  text-decoration: none;
}
.btn_rojo{
  background: #E73C4E;
}
.btn_verde{
  background: #71b631;
}
.slider-img{
  text-align: center;
  margin-top: 5%;
  animation-duration: 4s;
  animation-delay: 23s;
  -webkit-animation-delay: 23s;
  animation-iteration-count: infinite;
}


@media (max-width:425px){
  .slider-img{
    margin-top: 10%;
  }
  .slider-text{
    padding-top: 40%;
  }
}
@media (min-width:1024px){
  .slider-text{
    font-size: 6rem;
  }
}

/****************
  Estilos de el carousel a mano
*****************/

#slider{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
#slider .slides{
    display: block;
    width: 8000px;
    height: 100vh;
    margin: 0;
    padding: 0;
}
#slider .slide{
    float: left;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    list-style: none;
    width: 100vw;
    height: 100vh;
}