.navbar{
	margin-bottom:0px !important;
	border-radius: 0px;
	position: relative;
	z-index: 999;
	color:#fff;
}
.navbar-brand{
	padding-top: 1%;
}
.navbar-default{
	background-color: #0f2231;
	border-color:#0f2231;
	
}

.navbar-default .navbar-nav > li > a {
    color:#fff !important;
}



.navbar-default .navbar-nav > li > a.btn-subirp:hover, .navbar-default .navbar-nav > li > a.btn-subirp:focus {
   

	color: #fff;
	border-color:#bc1826;
	background-color:#bc1826 !important;	
}


.btn-subirp{

	background-color: #e73c4e;
	border-radius: 300px;
    font-weight: 700;

}







