#frontt {
  background: rgba(0,0,0,0.3);
  width: 100%;
  height: 100%;
  background-size: cover;
}

#backk {
  background-size: cover;
  background-image: url("https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-57201.jpg");
  background-repeat: no-repeat;
}

#container-pro {
  padding: 0;
  margin: 0;
  min-height: 1000px;
  height: 100vh;

}




.en_medio{
  vertical-align: middle;
  padding-top: 8%;
}
.en_medio, .textt{
  color: white;
}
