.containerm{
	width: 100%;
	background-color: #f5f5f5;
	padding: 1%;
}
.containerm .container3 .row{
	margin: 2%;
}
.container2{
	width: 85%;
	padding: 1% 0 3% 0;
	background-color: white;
	margin:2% 0% 2% 8%;

}
.container2 .row .well{
	margin:0 5% 0 5%;
}
.container2 .name{
	margin:0 auto;
	color: black;
}
.container2 hr{
	margin-left:10%;
	margin-right:10%;
}
.container3{
	width: 95%;
	margin-left: 3%;
	display: flex;
	justify-content: center;

}
.container3 .row .col-md-3{
	padding-top: 1%;
}
.container3 .row .well{
	margin-right: 2.5%;
}
.container3 .row .name{
	margin:0 auto;
	color: black;
}
.container3 .row .well .row{
	padding-top: 1%;
}
.container .well .row{
	padding-top:0;
}
.containerm .row{
	width: 100%;
	margin:0;
}
.containerm .opaco p, i{
	color:black;
}
.container3 .fa{
	font-size:5vh;
	padding-top: 10%;
}
.container2 .well{
	padding: 1%;
	margin:2% 0 2% 0;
}
.container3 .col-md-1{
	display: flex;
	justify-content: center;
}

/* input to pick a project's axis*/
.containerm .input-group{
	margin: 0;
}
/* Uploading images styles */
.image-preview-input {
    position: relative;
	overflow: hidden;
	margin: 0px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.image-preview-input input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}
.image-preview-input-title {
    margin-left:2px;
}
/* Uploading  files styles */
.file-preview-input {
    position: relative;
	overflow: hidden;
	margin: 0px;    
    color: #333;
    background-color: #fff;
    border-color: #ccc;    
}
.file-preview-input input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}
.file-preview-input-title {
    margin-left:2px;
}
/* progress bar*/
	.meter {
	    width: 80%; /* edit here to change the progress bar width. Max width for spectrum style is 400px */
	    height: 5vh;
	    line-height: 16px;
	    color: #fff;

	    clear: both;
	    text-align: center;
	    position: relative;

	    margin: 0 auto;
	    margin-top: 2%;
	    background-color: #fafafa;
	    box-shadow: inset 0 1px 2px #ccc, 0 1px 1px #fff;
	    border-radius: 3px;
	    -moz-border-radius: 3px;
	    -webkit-border-radius: 3px;
	}
	.meter div {

	}
	.spectrum, .red, .gray, .green, .orange, .blue {
	    width: 0;
	    height: 15px;
	    border-radius: 3px;
	    position: absolute;
	    display: block;
	    overflow: hidden;
	    text-shadow: 0 1px 2px #333;
	    font-size: 10px;
	    background: -webkit-gradient(linear, 0 0, 44 44, color-stop(0, rgba(255, 255, 255, 0.17)), color-stop(0.25, rgba(255, 255, 255, 0.17)), color-stop(0.26, rgba(255, 255, 255, 0)), color-stop(0.5, rgba(255, 255, 255, 0)), color-stop(0.51, rgba(255, 255, 255, 0.17)), color-stop(0.75, rgba(255, 255, 255, 0.17)), color-stop(0.76, rgba(255, 255, 255, 0)), color-stop(1, rgba(255, 255, 255, 0))), -webkit-gradient(linear, left bottom, left top, color-stop(0, rgba(255, 255, 255, 0)), color-stop(1, rgba(255, 255, 255, 0.35)));
	    background: -moz-repeating-linear-gradient(top left -30deg, rgba(255, 255, 255, 0.17), rgba(255, 255, 255, 0.17) 15px, rgba(255, 255, 255, 0) 15px, rgba(255, 255, 255, 0) 30px), -moz-linear-gradient(rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%);
	    -webkit-background-size: 40px 40px;
	    -moz-background-size: 40px 40px;
	}
	.meter .spectrum {
	    background: transparent url('../img/pbar.png') repeat-y 0 0;
	    -webkit-background-size: 100% 40px; /* Safari fix */
	    border-bottom: 1px solid #bbb;
	}
	.meter .red {
	    background-color: #e70000;
	    border-bottom: 1px solid #bc1515;
	}
	.meter .green {
	    background-color: #71b631;
	    border-bottom: 1px solid #71b631;
	    height: 5vh;
	}
	.meter .gray {
	    background-color: #909090;
	    border-bottom: 1px solid #838383;
	}
	.meter .orange {
	    background-color: #ff8503;
	    border-bottom: 1px solid #eb7b05;
	}
	.meter .blue {
	    background-color: #00afdc;
	    border-bottom: 1px solid #079bc1;
	}



	.bubble {
	    position: absolute;
	    text-align: center;
	    margin-top: 25px;
	    margin-left: 5px;
	    color: #444;
	    padding: 0 4px;
	    line-height: 16px;
	    border-radius: 2px;
	    border: 1px solid #e0e0e0;
	    font-size: 10px;
	}

	.arrow,
	.arrow:before {
	    height: 0;
	    width: 0;
	    top: -10px;
	    z-index: 100;
	    position: absolute;
	    
	    content: '';
	}
	.arrow {
	    border-bottom-color: #ccc;
	    left: 0;
	}
	.arrow:before {
	    border-bottom-color: #fff;
	    top: -4px;
	    left: -5px;
	}
/* progress bar*/
.osw-btn{

    
    background-color: #E73C4E;
    color: white;
    font-size: 5vh;
    border-radius: 10px;
    padding: 1% 3% 1% 3%;
    box-shadow: 0 5px 10px rgba(0,0,0,.5);
    margin: 3%;

}
.osw-btn:active{
	box-shadow:inset 0 5px 10px rgba(0,0,0,.5);	
}
.osw-btn:hover{
	color: #fff;
	text-shadow: 3px 3px 3px #000;	
	text-decoration: none;
}
.osw-btn:focus{
	text-decoration: none;
	color: white;
}
.osw-btn:visited{
	border-color: #E73C4E;
}
.osw-btn:disabled{
	background-color: rgba(231, 60, 78, .5);
}
.osw-btn[disabled]:hover{
	color: white;
	text-shadow: 0px 0px  rgba(255,255,255,1);

}
