@import "_user_profile.css";

@import "_landing.css";


@import "_newproject.css";
@import "_login.css";

@import "_footer.css";
@import "_navbar.css";

@import "_project_details.css";
@import "_catalogo.css";

@import "_catalog_detail.css";

@font-face {
  font-family: gobierno;
  font-weight: bold;
  src: url("../fonts/Graphik-Light.otf") format("opentype");
}


body *{

 /* font-family: gobierno, tahoma, sans-serif;*/
}
.btn:active{
	background: red;
}
h4, h3{
	color:black;
}