
<div ng-hide="proyecto.cerrado" id="todo">


<div style="text-align:center" ng-show="mensaje.success" class="alert alert-success" role="alert">
        {{mensaje.success}}
    </div>




<div class="containerm">
    <div class="container2">
        <div class="row">
            <div class="well">
                <h1 align="center">Detalle del Proyecto</h1>
            </div>
                <br>
                <h3 class="name" align="center">Porcentaje Completado</h3>
                
                <!-- <div class="progress meter">
                    <div id="percentage"></div>
                </div>   -->  

                <!-- la barra bootstrap -->
                <div ng-hide="total==100" class="progress">
                  <div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: {{total}}%;">
                    {{total}}%
                  </div>
                </div>

                <div ng-show="total==100" class="progress">
                  <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: {{total}}%;">
                    {{total}}%
                  </div>
                </div>


            <hr>
        </div>
        <form name="detailProjectForm" ng-submit="detailProjectForm.$valid" novalidate>
            <!-- Título-->
            <div class="container3">

                <div class="row">
                    <div class="col-xs-6 col-md-3">
                        <h3 class="name">Título</h3>
                        <p>¿Cuál es el título de tu proyecto?</p>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-9">
                        <div class="well">
                            <div class="row">
                                <div class="col-md-1">
                                    <i class="fa fa-lightbulb-o" aria-hidden="true"></i>
                                </div>
                                <div class="col-md-11">
                                    <input ng-model="proyecto.title" id="percent" width="100%" type="text" class="form-control required" placeholder="Título del proyecto">
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- Eje del proyecto-->
            <div class="container3">

                <div class="row">
                    <div class="col-xs-6 col-md-3">
                        <h3 class="name">Eje</h3>
                        <p>¿A qué eje pertenece?</p>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-9">
                        <div class="well">
                            <div class="row">
                                <div class="col-md-1">
                                    <i class="fa fa-arrows" aria-hidden="true"></i>
                                </div>
                                <div class="col-md-11">
                                    <select ng-model="proyecto.eje" class="form-control required" >
                                        <option value="{{proyecto.eje}}">{{proyecto.eje}}</option>
                                        <option value="Gobierno Honesto Cercano y Moderno" >Gobierno Honesto Cercano y Moderno</option>
                                        <option value="Hidalgo Próspero y Dinámico">Hidalgo Próspero y Dinámico</option>
                                        <option value="Hidalgo Humano e Igualitario">Hidalgo Humano e Igualitario</option>
                                        <option value="Un Hidalgo Seguro con Justicia y Paz">Un Hidalgo Seguro con Justicia y Paz</option>
                                        <option value="Un Hidalgo con Desarrollo Sustentable">Un Hidalgo con Desarrollo Sustentable</option>

                                    </select>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- Objetivo General-->
            <div class="container3">

                <div class="row">
                    <div class="col-xs-6 col-md-3">
                        <h3 class="name">Objetivo General</h3>
                        <p>¿Cuál es el objetivo general?</p>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-9">
                        <div class="well">
                            <div class="row">
                                <div class="col-md-1">
                                    <i class="fa fa-flag" aria-hidden="true"></i>
                                </div>
                                <div class="col-md-11">
                                    <textarea id="#og" ng-model="proyecto.objetivo_general" class="form-control required" rows="3"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- Indicador estratégico-->
            <div class="container3">

               <div class="row">
                   <div class="col-xs-6 col-md-3">
                       <h3 class="name">Indicador</h3>
                       <p>¿A qué indicador pertenece?</p>
                   </div>
                   <div class="col-xs-12 col-sm-6 col-md-9">
                       <div class="well">
                           <div class="row">
                               <div class="col-md-1">
                                   <i class="fa fa-check-square" aria-hidden="true"></i>
                               </div>
                               <div class="col-md-11">
                                   <select ng-model="proyecto.indicador" class="form-control required" >
                                       <option value="">Selecciona una opción</option>
                                       <option  value='Tasa de Prevalencia de Corrupción (INEGI)'>Tasa de Prevalencia de Corrupción (INEGI)</option>
                                       <option  value='Proporción de la población que se sintió satisfecha o muy satisfecha en la realización de trámites y solicitudes de servicios con alguna dependencia estatal (INEGI)'>Proporción de la población que se sintió satisfecha o muy satisfecha en la realización de trámites y solicitudes de servicios con alguna dependencia estatal (INEGI)</option>
                                       <option  value='Porcentaje de trámites y servicios públicos del tipo transaccional que se ofrecen en línea en la Administración Pública Estatal (INEGI)'>Porcentaje de trámites y servicios públicos del tipo transaccional que se ofrecen en línea en la Administración Pública Estatal (INEGI)</option>
                                       <option value='Proporción de Nuevos Kilómetros de infraestructura carretera (estatal, federal, municipal) (INEGI/SCT)'>Porcentaje de población en condición de pobreza</option>
                                       <option value='Proporción de Nuevos Kilómetros de infraestructura carretera (estatal, federal, municipal) (INEGI/SCT)'>Porcentaje de población con carencia por acceso a los servicios de salud</option>
                                       <option value='Proporción de Nuevos Kilómetros de infraestructura carretera (estatal, federal, municipal) (INEGI/SCT)'>Porcentaje de población con carencia por rezago educativo</option>
                                       <option value='Proporción de Nuevos Kilómetros de infraestructura carretera (estatal, federal, municipal) (INEGI/SCT)'>Porcentaje de población con carencia por calidad y espacios de la vivienda</option>
                                       <option value='Proporción de Nuevos Kilómetros de infraestructura carretera (estatal, federal, municipal) (INEGI/SCT)'>Proporción de Nuevos Kilómetros de infraestructura carretera (estatal, federal, municipal) (INEGI/SCT)</option>
                                       <option value='Proporción de alumnos en el nivel insuficiente  de competencias matemáticas y de comprensión lectora para sexto  grado de primaria y tercer año de secundaria'>Proporción de alumnos en el nivel insuficiente  de competencias matemáticas y de comprensión lectora para sexto  grado de primaria y tercer año de secundaria</option>
                                       <option value='Tasa de informalidad laboral'>Tasa de informalidad laboral</option>
                                       <option value='Tasa de personas de 18 años y más que considera inseguro su municipio '>Tasa de personas de 18 años y más que considera inseguro su municipio </option>
                                       <option  value='Tasa de prevalencia delictiva'>Tasa de prevalencia delictiva</option>
                                       <option  value='Tasa de crecimiento anual del PIB per cápita (INEGI)'>Tasa de crecimiento anual del PIB per cápita (INEGI)</option>
                                       <option  value='Porcentaje de hogares con conectividad a internet (INEGI)'>Porcentaje de hogares con conectividad a internet (INEGI)</option>
                                       <option  value='Porcentaje de Usuarios con acceso a internet en el Estado de Hidalgo (INEGI)'>Porcentaje de Usuarios con acceso a internet en el Estado de Hidalgo (INEGI)</option>
                                       <option  value='Unidades Económicas del Sector Privado y Paraestatal que efectuaron actividades de innovación en el Estado de Hidalgo (INEGI)'>Unidades Económicas del Sector Privado y Paraestatal que efectuaron actividades de innovación en el Estado de Hidalgo (INEGI)</option>
                                       <option value='Volumen tratado de aguas residuales'>Volumen tratado de aguas residuales</option>
                                       <option value='Superficie de áreas naturales con acciones de conservación y/o aprovechamiento de competencia federal, estatal y municipal (INEGI)'>Superficie de áreas naturales con acciones de conservación y/o aprovechamiento de competencia federal, estatal y municipal (INEGI)</option>
                                       <option value='Porcentaje de Residuos Sólidos Urbanos (RSU) y de Manejo Especial (RME) con manejo adecuado (INEGI)'>* Porcentaje de Residuos Sólidos Urbanos (RSU) y de Manejo Especial (RME) con manejo adecuado (INEGI)</option>
                                   </select>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>

            </div>
            <!-- Planteamiento-->
            <div class="container3">

               <div class="row">
                   <div class="col-xs-6 col-md-3">
                       <h3 class="name">Planteamiento</h3>
                       <p>¿Cuál es el planteamiento?</p>
                   </div>
                   <div class="col-xs-12 col-sm-6 col-md-9">
                       <div class="well">
                           <div class="row">
                               <div class="col-md-1">
                                   <i class="fa fa-tasks" aria-hidden="true"></i>
                               </div>
                               <div class="col-md-11">
                                  <textarea ng-model="proyecto.planteamiento" class="form-control required" rows="3"></textarea>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
            </div>
            <!-- Alcance-->
            <div class="container3">

              <div class="row">
                  <div class="col-xs-6 col-md-3">
                      <h3 class="name">Alcance</h3>
                      <p>¿Qué alcance tiene tu proyecto?</p>
                  </div>
                  <div class="col-xs-12 col-sm-6 col-md-9">
                      <div class="well">
                          <div class="row">
                              <div class="col-md-1">
                                  <i class="fa fa-thumb-tack" aria-hidden="true"></i>
                              </div>
                              <div class="col-md-11">
                                  <div class="radio">
                                    <label>
                                      <input class="required" type="radio" name="optionsRadios" id="optionsRadios1" value="option1" >
                                      Estatal
                                    </label>
                                  </div>
                                  <div class="radio">
                                    <label>
                                      <input class="required" type="radio" name="optionsRadios" id="optionsRadios2" value="option2">Regional
                                    </label>
                                  </div>
                                  <div class="radio">
                                    <label>
                                      <input class="required" type="radio" name="optionsRadios" id="optionsRadios2" value="option2">Metropolitano
                                    </label>
                                  </div>
                                  <div class="radio">
                                    <label>
                                      <input class="required" type="radio" name="optionsRadios" id="optionsRadios2" value="option2">Otro
                                    </label>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>

            </div>
            <!-- Problemática-->
            <div class="container3">

                <div class="row">
                    <div class="col-xs-6 col-md-3">
                        <h3 class="name">Problemática</h3>
                        <p>¿Qué problemática resuelve?</p>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-9">
                        <div class="well">
                            <div class="row">
                                <div class="col-md-1">
                                    <i class="fa fa-exclamation" aria-hidden="true"></i>
                                </div>
                                <div class="col-md-11">
                                    <textarea ng-model="proyecto.problematica" class="form-control required" rows="3" ></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- Municipio-->
            <div class="container3">

                <div class="row">
                    <div class="col-xs-6 col-md-3">
                        <h3 class="name">Municipio</h3>
                        <p>¿A qué municipio impactarás?</p>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-9">
                        <div class="well">
                            <div class="row">
                                <div class="col-md-1">
                                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                                </div>
                                <div class="col-md-11">
                                  <select ng-model="proyecto.municipio" required class="form-control input-lg">
                                      <option value="">{{proyecto.mun}}</option>
                                      <option value="1">Acatlán</option>
                                      <option value="2">Acaxochitlán</option>
                                      <option value="3">Actopan</option>
                                      <option value="4">Agua Blanca de Iturbide</option>
                                      <option value="5">Ajacuba</option>
                                      <option value="6">Alfajayucan</option>
                                      <option value="7">Almoloya</option>
                                      <option value="8">Apan</option>
                                      <option value="9">Atitalaquia</option>
                                      <option value="10">Atlapexco</option>
                                      <option value="11">Atotonilco de Tula</option>
                                      <option value="12">Atotonilco el Grande</option>
                                      <option value="13">Calnali</option>
                                      <option value="14">Cardonal</option>
                                      <option value="15">Chapantongo</option>
                                      <option value="16">Chapulhuacán</option>
                                      <option value="17">Chilcuautla</option>
                                      <option value="18">Cuautepec de Hinojosa</option>
                                      <option value="19">El Arenal</option>
                                      <option value="20">Eloxochitlán</option>
                                      <option value="21">Emiliano Zapata</option>
                                      <option value="22">Epazoyucan</option>
                                      <option value="23">Francisco I. Madero</option>
                                      <option value="24">Huasca de Ocampo</option>
                                      <option value="25">Huautla</option>
                                      <option value="26">Huazalingo</option>
                                      <option value="27">Huehuetla</option>
                                      <option value="28">Huejutla de Reyes</option>
                                      <option value="29">Huichapan</option>
                                      <option value="30">Ixmiquilpan</option>
                                      <option value="31">Jacala de Ledezma</option>
                                      <option value="32">Jaltocán</option>
                                      <option value="33">Juárez Hidalgo</option>
                                      <option value="34">La Misión</option>
                                      <option value="35">Lolotla</option>
                                      <option value="36">Metepec</option>
                                      <option value="37">Metztitlán</option>
                                      <option value="38">Mineral de la Reforma</option>
                                      <option value="39">Mineral del Chico</option>
                                      <option value="40">Mineral del Monte</option>
                                      <option value="41">Mixquiahuala de Juárez</option>
                                      <option value="42">Molango de Escamilla</option>
                                      <option value="43">Nicolás Flores</option>
                                      <option value="44">Nopala de Villagrán</option>
                                      <option value="45">Omitlán de Juárez</option>
                                      <option value="46">Pachuca de Soto</option>
                                      <option value="47">Pacula</option>
                                      <option value="48">Pisaflores</option>
                                      <option value="49">Progreso de Obregón</option>
                                      <option value="50">San Agustín Metzquititlán</option>
                                      <option value="51">San Agustín Tlaxiaca</option>
                                      <option value="52">San Bartolo Tutotepec</option>
                                      <option value="53">San Felipe Orizatlán</option>
                                      <option value="54">San Salvador</option>
                                      <option value="55">Santiago de Anaya</option>
                                      <option value="56">Santiago Tulantepec de Lugo Guerrero</option>
                                      <option value="57">Singuilucan</option>
                                      <option value="58">Tasquillo</option>
                                      <option value="59">Tecozautla</option>
                                      <option value="60">Tenango de Doria</option>
                                      <option value="61">Tepeapulco</option>
                                      <option value="62">Tepehuacán de Guerrero</option>
                                      <option value="63">Tepeji del Río de Ocampo</option>
                                      <option value="64">Tepetitlán</option>
                                      <option value="65">Tetepango</option>
                                      <option value="66">Tezontepec de Aldama</option>
                                      <option value="67">Tianguistengo</option>
                                      <option value="68">Tizayuca</option>
                                      <option value="69">Tlahuelilpan</option>
                                      <option value="70">Tlahuiltepa</option>
                                      <option value="71">Tlanalapa</option>
                                      <option value="72">Tlanchinol</option>
                                      <option value="73">Tlaxcoapan</option>
                                      <option value="74">Tolcayuca</option>
                                      <option value="75">Tula de Allende</option>
                                      <option value="76">Tulancingo de Bravo</option>
                                      <option value="77">Villa de Tezontepec</option>
                                      <option value="78">Xochiatipan</option>
                                      <option value="79">Xochicoatlán</option>
                                      <option value="80">Yahualica</option>
                                      <option value="81">Zacualtipán de Ángeles</option>
                                      <option value="82">Zapotlán de Juárez</option>
                                      <option value="83">Zempoala</option>
                                      <option value="84">Zimapán</option>

                                  </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- Imagen del proyecto-->
            <div class="container3">

              <div class="row">
                  <div class="col-xs-6 col-md-3">
                      <h3 class="name">Imagen</h3>
                      <p>Sube una imagen acorde al proyecto</p>
                      
                  </div>
                  <div class="col-xs-12 col-sm-6 col-md-9">
                      <div class="well">
                          <div class="row">
                              <div class="col-md-1">
                                  <i class="fa fa-picture-o" aria-hidden="true"></i>
                              </div>
                              <div class="col-md-11">
                                  <div class="input-group image-preview">
                                      <input type="text" class="form-control required image-preview-filename" disabled="disabled" value="{{proyecto.laRef}}"> <!-- don't give a name === doesn't send on POST/GET -->
                                      <span class="input-group-btn">
                                          <!-- image-preview-clear button -->
                                          <button type="button" class="btn btn-default image-preview-clear" style="display:none;">
                                              <span class="foldercito glyphicon glyphicon-remove"></span> Borrar
                                          </button>
                                          <!-- image-preview-input -->
                                          <div ng-hide="proyecto.imagen"  class="btn btn-default image-preview-input">
                                              <span class="foldercito glyphicon glyphicon-folder-open"></span>
                                              <span class="image-preview-input-title">Buscar</span>
                                              <input id="laimg" onchange="setFile(this)" type="file" accept="image/png, image/jpeg, image/gif" name="input-file-preview"/> <!-- rename it -->
                                          </div>
                                          <div ng-show="proyecto.imagen">
                                              <div ng-click="quitarFoto()" class="btn btn-danger">
                                                  X Quitar Foto
                                              </div>
                                          </div>
                                      </span>
                                  </div><!-- /input-group image-preview [TO HERE]-->
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-12">
                    <img ng-show="proyecto.imagen" style="width:100px" ng-src="{{proyecto.imagen}}">
                  </div>  
              </div>

            </div>
            <!-- Anexo-->
            <div class="container3">

              <div class="row">
                  <div class="col-xs-6 col-md-3">
                      <h3 class="name">Anexo</h3>
                      <p>¿Tienes algún anexo del proyecto? Súbelo</p>
                  </div>
                  <div class="col-xs-12 col-sm-6 col-md-9">
                      <div class="well">
                          <div class="row">
                              <div class="col-md-1">
                                  <i class="fa fa-file-word-o" aria-hidden="true"></i>
                              </div>
                              <div class="col-md-11">
                                  <div class="input-group file-preview">
                                      <input value="{{proyecto.fileRef}}" type="text" class="form-control file-preview-filename" disabled="disabled"> <!-- don't give a name === doesn't send on POST/GET -->
                                      <span class="input-group-btn">
                                          <!-- file-preview-clear button -->
                                          <button type="button" class="btn btn-default file-preview-clear" style="display:none;">
                                              <span class="foldercito glyphicon glyphicon-remove"></span> Borrar
                                          </button>
                                          <!-- file-preview-input -->
                                          <div ng-hide="proyecto.archivo" class="btn btn-default file-preview-input">
                                              <span class="foldercito glyphicon glyphicon-folder-open"></span>
                                              <span class="file-preview-input-title">Buscar</span>
                                              <img id="loading" style="display:none;width:50px" src="http://www.apppics.com/img/loading.gif">
                                              <input onchange="uploadDoc(this)" class="required" type="file" accept="file_extension" name="input-file-preview"/> <!-- rename it -->
                                          </div>
                                          <div ng-show="proyecto.archivo">
                                              <div ng-click="quitarFile()" class="btn btn-danger">
                                                  X Quitar Archivo
                                              </div>
                                          </div>
                                      </span>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>

            </div>
            


            


          <div class="container">
              
              <input class="osw-btn" type="submit" value="Guardar" ng-click="updateProject()">
              
              <div ng-click="subir()" ng-show="total==100" class="btn btn-lg btn-success">
                Subir Proyecto
              </div>
          </div>
      </form>


  </div>
</div>


<script type="text/javascript">

</script>


<input type="hidden" id="imgLink">
<input type="hidden" id="fileLink">



</div> <!--todo-->

<div style="text-align:center" ng-show="proyecto.cerrado" id="cerrado">

        <h1 class="modal-title" id="exampleModalLabel">¡Felicitaciones!</h1>


        <img style="width:200px" src="/assets/images/logoGrande.jpg">
        <div style="color:balck">
            <h2 style="color:black" >¡Gracias!</h2>
            <h3 style="color:black">Tu idea ya está considerada para</h3>
            <h3 style="color:black">El Plan de Desarrollo Estatal</h3>
        </div>
        <h4>Compartelo en tus redes sociales</h4>

        <button class="btn btn-primary">
            <i class="fa fa-facebook-square" aria-hidden="true"></i>
            Facebook
        </button>
        <button class="btn btn-info">
            <i class="fa fa-twitter" aria-hidden="true"></i>
            Twitter
        </button>
         <h4>A partir de ahora tu idea ha sido recibida, ya no podrás editarla</h4>

</div> <!-- cerrado -->








<!-- el modal -->

<div class="modal fade" id="warning" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">¡Felicitaciones!</h4>
      </div>
      <div style="text-align:center;" class="modal-body">


        <img style="width:200px" src="/assets/images/logoGrande.jpg">
        <div style="color:blue">
            <h2 style="color:black" >¡Gracias!</h2>
            <h3 style="color:black">Tu idea ya está considerada para</h3>
            <h3 style="color:black">El Plan de Desarrollo Estatal</h3>
        </div>
        <h4>Compartelo en tus redes sociales</h4>

        <button class="btn btn-primary">
            <i class="fa fa-facebook-square" aria-hidden="true"></i>
            Facebook
        </button>
        <button class="btn btn-info">
            <i class="fa fa-twitter" aria-hidden="true"></i>
            Twitter
        </button>
         <h4>A partir de ahora tu idea ha sido recibida, ya no podrás editarla</h4>
        <button data-dismiss="modal" class="btn btn-default">
            Continuar
        </button>




      </div>




