
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/"><img width="50px" class="img-responsive brand-logo" src="assets/images/PNG/3 monograma_H.png" alt=""></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right ">
        <li><a class="btn-n"href="#/catalogo">Explorar Proyectos</a></li>
        <li><a class="btn-n btn-subirp"href="#/project/new">Subir Proyecto</a></li>
        <li ng-hide="$ctrl.user">
          <a class="linknav" href="#/login">Ingresa</a>
        </li>
        <li  ng-show="$ctrl.user">
         <a href="" ng-click="$ctrl.logOut()" >Cerrar Sesión</a> 
        </li>
        <li title="Ir a tu Perfil" data-placement="bottom" data-toggle="tooltip" style="cursor:pointer" ng-click="$ctrl.goProfile()" ng-show="$ctrl.user.photoURL">
          <img style="border-radius:50%;width:55px;max-height:50px;" ng-src="{{$ctrl.user.photoURL}}" alt="Tu perfil">
        </li> 
        <li style="cursor:pointer" ng-click="$ctrl.goProfile()" ng-hide="$ctrl.user.photoURL">
          <i style="font-size:4rem;color:white" class="fa fa-user" aria-hidden="true"></i>
        </li>
      </ul>
      
      
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>